<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtf.xueyou.mapper.ClubTypeMapper">

    <insert id="addClubType" useGeneratedKeys="true" keyProperty="id">
        insert into club_type (type_id, club_id, status, create_time, update_time)
            VALUE (#{typeId}, #{clubId}, #{status}, #{createTime}, #{updateTime})
    </insert>
</mapper>
